<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Peas</title>
    <%= stylesheet_link_tag "screen" %>
  </head>
  <body>
    <div class="container content">
      <h1>Peas</h1>
      <%= yield %>
      <div class="footer">
        <p>Copyright &copy;2009</p>
      </div>
    </div>
  </body>
</html>
