<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Peas</title>
    <%= yield :head %>
  </head>
  <body>
    <div class="container content">
      <div class="header group">
        <h1 class="col-24">Peas</h1>
      </div>
      <%= yield %>
      <div class="footer">
        <p>Copyright &copy;2009</p>
      </div>
    </div>
  </body>
</html>
